<ion-view>
	<ion-tabs class="tabs-balanced tabs-icon-top">
	  <ion-tab icon="ion-card" title="Transactions" ui-sref="main.budget.transactions">
	  	<ion-nav-view name="transactionsTab"></ion-nav-view>
	  </ion-tab>
	  <ion-tab icon="ion-ios7-people" title="Members" ui-sref="main.budget.members">
	  	<ion-nav-view name="membersTab"></ion-nav-view>
	  </ion-tab>
	  <ion-tab icon="ion-compose" title="Details" ui-sref="main.budget.details">
	  	<ion-nav-view name="detailsTab"></ion-nav-view>
	  </ion-tab>
	</ion-tabs>
</ion-view>