<ion-view title="{{budget.name}} - transactions">
    <ion-nav-buttons side="right">
    	<button class="button pull-right button-icon icon ion-plus" ng-click="addNewTransaction()"></button>
    </ion-nav-buttons>
	<ion-content>
		<ion-list>
			<div ng-repeat="transactionsByDay in transactionsGroupedByDay">
				<div class="item item-divider">
					{{transactionsByDay[0].date}}
				</div>
				<div class="item item-avatar" ng-click="showDetails(transaction)" ng-repeat="transaction in transactionsByDay">
					<img gravatar-src="'{{transaction.payer.email}}'" />
			    	{{transaction.description}}
			    	<p class="transaction-details">
			    		<i class="ion-clock">{{transaction.time}}</i>
			    		<i class="ion-person-stalker"></i>
			    		<img class="img-participant" ng-repeat="participant in transaction.participants" gravatar-src="'{{participant.email}}'" />
			    	</p>
			    	<amount value="{{transaction.amount}}" currency="{{budget.currency}}"></amount>
			  	</div>
			  	<!-- <div class="item item-participants" ng-show="showDetailsTransactionId == transaction.id" ng-repeat-end>
			  		<h2>Participants</h2>
			  		<img ng-repeat="participant in transaction.participants" gravatar-src="'{{participant.email}}'" />
				</div> -->
			</div>
		</ion-list>
		<div class="card" ng-if="budget.transactions.length === 0">
		  <div class="item item-text-wrap">
		    No transactions yet.
		  </div>
		</div>

	</ion-content>
</ion-view>


